CMakeLists.txt
DesignPatterns/CMakeLists.txt
DesignPatterns/Creational/CMakeLists.txt
DesignPatterns/Structural/CMakeLists.txt
.idea/
cmake-build-debug/
*/.DS_Store
*/.gitignore
../python/.DS_Store
*.iml
*.xml